<div modal="showModal" close="cancel()">
  <div class="modal-dialog modal-lg" id="SignUpModal">
    <div class="modal-content">
    <div class="modal-header">
        <h3>Sign Up Form</h3>
    </div>

      <form name='regForm' novalidate>
        <div class="modal-body">
        <table>
        <tr>
        <td>First name:</td>

        <td>
        <input type="text" name="firstname" placeholder="Enter your First Name"
          ng-model="sctrl.user.firstname"
          required
          minlength="1"
          ng-maxlength="30" size="40">
          </td>
          <td>

          <span class="label label-danger"
            ng-if="(regForm.firstname.$error.minlength || regForm.firstname.$error.required) && regForm.firstname.$touched">
            Name must be at least 1 characters long
          </span>
          <span  class="label label-danger"ng-if="regForm.firstname.$error.maxlength && regForm.firstname.$touched">
            Name must not be longer than 30 characters
          </span>
          </td>
          <br>
        </tr>
        <tr>
        <td>Last name:</td>
        <td>
          <input type="text" name="lastname" placeholder="Enter your Last Name"
            ng-model="sctrl.user.lastname"
            required
            minlength="1"
            ng-maxlength="30" size="40">

          </td>
          <td>
            <span class="label label-danger"
              ng-if="(regForm.lastname.$error.minlength || regForm.lastname.$error.required) && regForm.lastname.$touched">
              Name must be at least 1 characters long
            </span>
            <span class="label label-danger" ng-if="regForm.lastname.$error.maxlength && regForm.lastname.$touched">
              Name must not be longer than 30 characters
            </span>
          </td>
        </tr>

        <tr>
        <td>Email:    </td>
        <td>
        <input type="email" name="email" placeholder="Email"
          ng-model="sctrl.user.email"
          required>

        </td>
        <td>
          <span class="label label-danger" ng-if="regForm.email.$invalid && regForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
        </td>
      </tr>

      <tr>
      <td>Phone Number:&nbsp&nbsp</td>
      <td>
        <input type="text"  name="phone" placeholder="###-###-####"
          ng-model="sctrl.user.phone"
          pattern="(\d{3})-(\d{3})-(\d{4})">

        </td>
        <td>
          <span class="label label-danger" ng-if="regForm.phone.$invalid && regForm.phone.$touched">
            Phone must be in the format ###-###-####.
          </span>
        </td>
      </tr>
      <tr>
        <td>Favorite Dish Id:&nbsp</td>
      <td><input type="text" placeholder="Favorite dish id" name="itemespecifico" ng-model="sctrl.user.itemespecifico" minlength=1>
        {{sctrl.user.foundespecifico.name}}
      </td>
      <td>
        <span
          ng-if="(regForm.itemespecifico.$error.minlength || regForm.itemespecifico.$error.required) && regForm.itemespecifico.$touched">
          Id must be at least 1 characters long
        </span>
        
        <span class="label label-warning" ng-if="!(sctrl.user.myVar || sctrl.user.myVar== undefined || sctrl.user.myVar==null)  && (regForm.$dirty || regForm.itemespecifico.$touched || regForm.itemespecifico.$dirty)">
          No such menu number exists.
      </span>
    </td>
    </tr>

          </table>
          </div>
          <div class="modal-footer">
            <button class="btn btn-success" ng-disabled="regForm.$invalid" ng-click="sctrl.logMenuItems()">Submit</button>
            <button class="btn" ng-click="sctrl.cancel()">Cancel</button>
            <button class="btn" ng-click="sctrl.cancel()">Ok</button>

          </div>
          <div class="modal-footer" ng-if="sctrl.user.foundespecifico !== undefined && sctrl.user.foundespecifico != null">
          <h4>{{sctrl.mensagemRegisto}} </h4>
          </div>

    </form>
    </div></div>
  </div>
